<div class="image-gallery">
{% for file in site.static_files %}
{% if file.path contains include.folder %}
{% if file.extname == '.jpg' or 
	file.extname == '.jpeg' or 
	file.extname == '.JPG' or 
	file.extname == '.JPEG' %}

<div class="gallery-item container">
	<!-- <a href="{{ file.path }}" title="Click to view full size" class="lazy-image glightbox" data-large="{{ file.path }}" data-gallery="{{ file.path }}"> -->

		<!-- don't need anymore thanks to lazyload.js! -->
		<!-- <img src="//images.weserv.nl/?url=v2.elenaariza.com{{ file.path }}&w=25&h=25&fit=cover&output=png" alt="{{ file.name }}" class="loaded img-small"> -->
	<!-- </a> -->
	<a href="{{ file.path }}" class="glightbox lazy-image" data-gallery="gallery" data-large="{{ file.path }}">
	  <!-- <img src="{{ file.path }}" alt="image" /> -->
	</a>
</div>

{% endif %}
{% endif %}
{% endfor %}

</div>

