<footer class="site-footer">

  <div class="wrapper">

    <h2 class="footer-heading">{{ site.title }}</h2>

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li><a href="/contact">Contact Me</a></li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <ul class="social-media-list">
          {% assign sm = site.data.social-media %}
          {% for entry in sm %}
              {% assign key = entry | first %}
              {% if sm[key].id %}
                  <li><a href="{{ sm[key].href }}{{ sm[key].id }}" title="{{ sm[key].title }}" class="no-underline"><i class="fa {{ sm[key].fa-icon }}"></i> {{ sm[key].id }}</a></li>
              {% endif %}
          {% endfor %}
        </ul>
      </div>

      <div class="footer-col footer-col-3">
        <p>{{ site.description }}</p>
      </div>
    </div>

  </div>
  <script> </script>
</footer>
