.viewport {
	height: 100%;
	overflow-x: hidden;
	overflow-y: auto;
	position: relative;
	-webkit-overflow-scrolling: touch;

	transform-style: preserve-3d;
}

.scene {
	height: 80vh;
	// padding: 3vh 5vw;

	@include media-query($on-palm) {
		// padding: 2vh 2vw;
	}

	&:not(.solid) {
		box-shadow: inset 0 0 200px rgba(100,100,100,0.5);
		max-height: 60vw;
	}
}

.parallax img {
	object-position: 50% 50%;
	box-sizing: border-box;
	max-height: 70vw;
	height: 90vh;
	margin-bottom: -90vh;
  	// Since the parallax elements still consume space, we set the margin to undo
    // the height of this parallax element making it essentially consume 0 space.

    position: -webkit-sticky;
    width: 100%;
}

.lazy-image {
	width: 100%;
}

.lazy-image img {
    position: absolute;

    transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-in-out;

    object-fit: cover;

    opacity: 0;
	&.loaded {
	    opacity: 1;
	}
}

.img-small {
	filter: blur(20px);
     // this is needed so Safari keeps sharp edges 
    transform: scale(1);

    transition: opacity 1s ease-out;
    -webkit-transition: opacity 1s ease-in-out;
}

.golden-gate img {
	object-position: 80% 55%;
}

.header {
	// the image
	&.parallax img {
		height: 80vh;
		margin-bottom: -80vh;
	}

	// the transparent space
	&.scene {
		height: 70vh;
	}

	@include media-query($on-palm) {
		&.parallax img {
			height: 80vh;
			margin-bottom: -80vh;
		}

		// the transparent space
		&.scene {
			height: 70vh;
		}
	}
}


.page-header {
	// the image
	&.parallax img {
		height: 60vh;
		margin-bottom: -60vh;
	}

	// the transparent space
	&.scene {
		height: 50vh;
	}

	@include media-query($on-palm) {
		&.parallax img {
			height: 50vh;
			margin-bottom: -50vh;
		}

		// the transparent space
		&.scene {
			height: 40vh;
		}
	}
}

.solid {
	z-index: 1;
	position: relative;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;

	min-height: 40vh;

	background-color: $background-color;
}
